<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="icon" type="image/png" href="/images/homepages/logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="/images/homepages/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div id="overlay"></div>
    <section id="Home">

        <nav>
            <div class="logo">
                <a href="/" class="logo-link">
                    <img src="/images/homepages/logo.png" alt="Karma Kitchen Logo">
                </a>
                <h2 class="site-title">
                    <a href="/">
                        <%= title %>
                    </a>
                </h2>
            </div>

            <ul class="nav-links">
                <li><a href="/">Trang chủ</a></li>
                <li>
                    <div class="dropdown">
                        <a href="/menu" class="dropbtn">Menu</a>
                        <div class="dropdown-content">
                            <a href="#appetizer">Khai vị</a>
                            <a href="#main-course">Món chính</a>
                            <a href="#dessert">Tráng miệng</a>
                            <a href="#beverage">Đồ uống</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="/table" class="dropbtn">Order</a>
                        <div class="dropdown-content">
                            <a href="/table#1st">Tầng 1</a>
                            <a href="/table#2nd">Tầng 2</a>
                        </div>
                    </div>
                </li>

                <li><a href="/order">Quản lý order</a></li>
            </ul>
            <button class="add_btn" onclick="openForm('add')"><strong>Thêm món</strong></button>
        </nav>



    </section>

    <!--Menu-->
    <div class="menu" id="Menu">
        <h1><span>Menu</span></h1>

        <div class="menu_box">
            <% menuItems.forEach(menuItem=> { %>
                <div class="menu_card">
                    <div class="menu_image">
                        <% if (menuItem.Image) { %>
                            <img src="uploads/<%= menuItem.Image %>">
                            <% } else { %>
                                <% if (menuItem.Category==='Đồ uống' ) { %>
                                    <img src="/images/homepages/drinkdefault.jpg">
                                    <% } else { %>
                                        <img src="/images/homepages/fooddefault.png">
                                        <% } %>
                                            <% } %>
                    </div>
                    <div class="menu_info">
                        <h2>
                            <%= menuItem.FoodName %>
                        </h2>
                        <p>
                            <% if (menuItem.Description) { %>
                                <%= menuItem.Description %>
                                    <% } else { %>
                                        ( Đang cập nhật )
                                        <% } %>
                        </p>
                        <div class="del_edit">
                            <button class="delete_btn" data-foodid="<%= menuItem.FoodID %>"
                                onclick="openForm('delete', this.dataset.foodid)">Xóa</button>
                            <button class="edit_btn" data-foodid="<%= menuItem.FoodID %>"
                                onclick="openForm('edit', this.dataset.foodid)">Sửa</button>

                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>


    <!-- Phần "Khai Vị" -->

    <div class="menu" id="appetizer">
        <h1><span>Khai vị</span></h1>
        <div class="menu_box">
            <% menuItems.forEach(menuItem=> { %>
                <% if (menuItem.Category==='Khai vị' ) { %>
                    <div class="menu_card">
                        <div class="menu_image">
                            <% if (menuItem.Image) { %>
                                <img src="uploads/<%= menuItem.Image %>">
                                <% } else { %>
                                    <img src="/images/homepages/fooddefault.png">
                                    <% } %>
                        </div>
                        <div class="menu_info">
                            <h2>
                                <%= menuItem.FoodName %>
                            </h2>
                            <p>
                                <% if (menuItem.Description) { %>
                                    <%= menuItem.Description %>
                                        <% } else { %>
                                            ( Đang cập nhật )
                                            <% } %>
                            </p>
                            <div class="del_edit">
                                <button class="delete_btn" data-foodid="<%= menuItem.FoodID %>"
                                    onclick="openForm('delete', this.dataset.foodid)">Xóa</button>
                                <button class="edit_btn" data-foodid="<%= menuItem.FoodID %>"
                                    onclick="openForm('edit', this.dataset.foodid)">Sửa</button>

                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% }); %>
        </div>
    </div>

    <!-- Phần "Main Course" -->

    <div class="menu" id="main-course">
        <h1><span>Món chính</span></h1>
        <div class="menu_box">
            <% menuItems.forEach(menuItem=> { %>
                <% if (menuItem.Category==='Món chính' ) { %>
                    <div class="menu_card">
                        <div class="menu_image">
                            <% if (menuItem.Image) { %>
                                <img src="uploads/<%= menuItem.Image %>">
                                <% } else { %>
                                    <img src="/images/homepages/fooddefault.png">
                                    <% } %>
                        </div>
                        <div class="menu_info">
                            <h2>
                                <%= menuItem.FoodName %>
                            </h2>
                            <p>
                                <% if (menuItem.Description) { %>
                                    <%= menuItem.Description %>
                                        <% } else { %>
                                            ( Đang cập nhật )
                                            <% } %>
                            </p>
                            <div class="del_edit">
                                <button class="delete_btn" data-foodid="<%= menuItem.FoodID %>"
                                    onclick="openForm('delete', this.dataset.foodid)">Xóa</button>
                                <button class="edit_btn" data-foodid="<%= menuItem.FoodID %>"
                                    onclick="openForm('edit', this.dataset.foodid)">Sửa</button>

                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% }); %>
        </div>
    </div>

    <!-- Phần "Dessert" -->
    <div class="menu" id="dessert">
        <h1><span>Tráng miệng</span></h1>
        <div class="menu_box">
            <% menuItems.forEach(menuItem=> { %>
                <% if (menuItem.Category==='Tráng miệng' ) { %>
                    <div class="menu_card">
                        <div class="menu_image">
                            <% if (menuItem.Image) { %>
                                <img src="uploads/<%= menuItem.Image %>">
                                <% } else { %>
                                    <img src="/images/homepages/fooddefault.png">
                                    <% } %>
                        </div>
                        <div class="menu_info">
                            <h2>
                                <%= menuItem.FoodName %>
                            </h2>
                            <p>
                                <% if (menuItem.Description) { %>
                                    <%= menuItem.Description %>
                                        <% } else { %>
                                            ( Đang cập nhật )
                                            <% } %>
                            </p>
                            <div class="del_edit">
                                <button class="delete_btn" data-foodid="<%= menuItem.FoodID %>"
                                    onclick="openForm('delete', this.dataset.foodid)">Xóa</button>
                                <button class="edit_btn" data-foodid="<%= menuItem.FoodID %>"
                                    onclick="openForm('edit', this.dataset.foodid)">Sửa</button>

                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% }); %>
        </div>
    </div>

    <!-- Phần "Beverage" -->

    <div class="menu" id="beverage">
        <h1><span>Đồ uống</span></h1>
        <div class="menu_box">
            <% menuItems.forEach(menuItem=> { %>
                <% if (menuItem.Category==='Đồ uống' ) { %>
                    <div class="menu_card">
                        <div class="menu_image">
                            <% if (menuItem.Image) { %>
                                <img src="uploads/<%= menuItem.Image %>">
                                <% } else { %>
                                    <img src="/images/homepages/drinkdefault.jpg">
                                    <% } %>
                        </div>
                        <div class="menu_info">
                            <h2>
                                <%= menuItem.FoodName %>
                            </h2>
                            <p>
                                <% if (menuItem.Description) { %>
                                    <%= menuItem.Description %>
                                        <% } else { %>
                                            ( Đang cập nhật )
                                            <% } %>
                            </p>
                            <div class="del_edit">
                                <button class="delete_btn" data-foodid="<%= menuItem.FoodID %>"
                                    onclick="openForm('delete', this.dataset.foodid)">Xóa</button>
                                <button class="edit_btn" data-foodid="<%= menuItem.FoodID %>"
                                    onclick="openForm('edit', this.dataset.foodid)">Sửa</button>

                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% }); %>
        </div>
    </div>

    <!-- Add function popup -->
    <div class="popup">
        <div class="popup_content" id="popup_add">
            <a href="/menu" class="popup_close" onclick="closeForm('add')">&times;</a>
            <form action="/menu/add" method="POST" enctype="multipart/form-data" class="formContainer" id="menuFormAdd">
                <h3 class="heading">Thêm vào menu</h3>
                <p class="desc">Growing in Generosity ❤️</p>
                <div class="form-group">
                    <label for="name" class="form-label">Tên món ăn</label>
                    <input id="name" name="name" type="text" class="form-control" required>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="category" class="form-label">Danh mục</label>
                    <select id="category" name="category" class="form-control" required>
                        <option value="">-- Chọn danh mục --</option>
                        <option value="Khai vị">Khai vị</option>
                        <option value="Món chính">Món chính</option>
                        <option value="Tráng miệng">Tráng miệng</option>
                        <option value="Đồ uống">Đồ uống</option>
                    </select>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">Mô tả</label>
                    <input id="description" name="description" type="text" class="form-control">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="image" class="form-label">Hình ảnh</label>
                    <input id="image" name="image" type="file" accept="image/*" class="form-control">
                    <span class="form-message"></span>
                </div>
                <button type="submit" class="form-submit">Thêm món</button>
                <button type="button" class="cancel" onclick="closeForm('add')">Hủy</button>
            </form>
        </div>
    </div>

    <!-- Delete function popup -->
    <div class="popup">
        <div class="popup_content" id="popup_delete">
            <a href="/menu" class="popup_close" onclick="closeForm('delete')">&times;</a>
            <form id="deleteForm" action="/menu/delete" method="POST">
                <h3 class="heading">Bạn có chắc muốn xóa món ăn?</h3>
                <input type="hidden" id="deleteItemId" name="foodId" value="">
                <button type="submit" class="form-submit">Đồng ý</button>
                <button type="button" class="cancel" onclick="closeForm('delete')">Hủy</button>
            </form>
        </div>
    </div>

    <!-- Edit function popup -->
    <div class="popup">
        <div class="popup_content" id="popup_edit">
            <a href="/menu" class="popup_close" onclick="closeForm('edit')">&times;</a>
            <form action="/menu/edit" method="POST" enctype="multipart/form-data" class="form" id="menuFormEdit">
                <h3 class="heading">Chỉnh sửa món ăn</h3>
                <p class="desc">Growing in Generosity ❤️</p>
                <input type="hidden" id="foodId" name="foodId" value="">
                <div class="form-group">
                    <label for="name" class="form-label">Tên món ăn</label>
                    <input id="name" name="name" type="text" class="form-control" required>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="category" class="form-label">Danh mục</label>
                    <select id="category" name="category" class="form-control" required>
                        <option value="">-- Chọn danh mục --</option>
                        <option value="Khai vị">Khai vị</option>
                        <option value="Món chính">Món chính</option>
                        <option value="Tráng miệng">Tráng miệng</option>
                        <option value="Đồ uống">Đồ uống</option>
                    </select>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">Mô tả</label>
                    <input id="description" name="description" type="text" class="form-control">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="image" class="form-label">Hình ảnh</label>
                    <input id="image" name="image" type="file" accept="image/*" class="form-control">
                    <span class="form-message"></span>
                    <img id="currentImage" src="" alt="Current Image" style="display: none; width: 100px;">
                </div>
                <button type="submit" class="form-submit">Lưu thay đổi</button>
                <button type="button" class="cancel" onclick="closeForm('edit')">Hủy</button>
            </form>
        </div>
    </div>



    <!-- Footer -->

    <footer class="footer">

        <div class="link-location">
            <div class="footer_tag quick_link">
                <h4>Chung</h4>
                <ul>
                    <li><a href="/"> Trang Chủ</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/table">Order</a></li>
                    <li><a href="/order">Quản lý order</a></li>
                </ul>
            </div>

            <div class="footer_tag dia_diem">
                <h4>Địa điểm</h4>
                <p>
                    <i class="fas fa-location-dot"></i><span> 46B Bát Đàn, P. Hàng Bồ, Q. Hoàn Kiếm, Hanoi,
                        Vietnam</span>
                </p>
            </div>

            <div class="footer_tag contact">
                <h4>Liên hệ</h4>
                <a href="https://www.facebook.com/karmakitchenhanoi">
                    <i class="fa-brands fa-facebook-f"></i><span> Karma Kitchen Hanoi</span>
                </a>
                <p><i class="fas fa-phone"></i> 098 708 97 62</p>
                <p><i class="fas fa-envelope"></i> karmakitchen.hn@gmail.com</p>
            </div>
        </div>

        <div class="copyright">
            <p>Copyright 2024 || &copy; all right reserved</p>
        </div>
    </footer>


    <script src="/scripts/menu.js"></script>


</body>

</html>